.shapeCanvas {
  width: 800px;
  height: 400px;
  border: solid;
  border-color: lightgrey;
}

.shape {
  fill-opacity: 0;
  stroke: black;
  stroke-width: 1;
}

.margin-0-auto {
  margin: 0 auto;
}

.shape-handle {
  fill-opacity: 1;
  stroke: #0009;
  stroke-width: 1;
}

.canvas-info {
  border: 2px #ababab solid;
  margin: 1rem 0 0;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  text-align: left;
}
